@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cardImage {
    width: 100%;
    height: auto;
  }
  
  .cardDetails {
    font-family: "Work Sans";
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .cardLocation, .cardDestiny {
    font-family: "Work Sans";
    margin: 0;
  }
  
  .cardReview{
    font-family: "Work Sans";
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
  
  .averageReview {
    font-family: "Work Sans";
    display: flex;
    align-items: center;
    margin-right: auto;
    background-color: #FC5056;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
  }
  
  .starIcon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
  
  .averageReviewValue {
    font-family: "Work Sans";
  }
  
  .reviewCount {
    font-family: "Work Sans";
    margin-left: 16px;
  }
  
  .tourDays {
    font-family: "Work Sans";
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .daysIcon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
  
  .cardFooter {
    font-family: "Work Sans";
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .minPrice {
    font-family: "Kaushan Script", cursive;
    font-weight: bold;
  }