@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/travelling-c5077.appspot.com/o/Home_Images%2FimageHome.png?alt=media&token=145dfa03-43ce-4ebb-beae-d2663eb9403f);
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
}

.textContainer{
    text-align: center;
    margin-top: 200px
}

.p1 {
    font-family: "Kaushan Script", cursive;
    font-size: 32px;
    color: #FC5056;
    margin-bottom: 10px;
}

.h1{
    font-family: "Work Sans";
    font-size: 56px;
    color: white;
    font-weight: bold;
}

.p2{
    font-family: "Work Sans";
    font-size: 16px;
    color: white;
}