@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.background{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.textContainer{
    text-align: center;
    margin-top: 200px;
}

.p1 {
    font-family: "Kaushan Script", cursive;
    font-size: 32px;
    color: #FC5056;
    margin-bottom: 10px;
}

.h1{
    font-family: "Work Sans";
    font-size: 56px;
    color: white;
    font-weight: bold;
}

.p2{
    font-family: "Work Sans";
    font-size: 16px;
    color: white;
}

.informationsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1168px;
    height: 89px;
    border-top: 1px solid #A9AFBB;
    margin: 0 auto;
    margin-top: 120px;
}

.hNumbers{
    font-size: 40px;
    font-family: "Kaushan Script", cursive;
    margin-left: auto;
}

.pInformations{
    font-family: "Work Sans";
    font-size: 20px;
    margin-left: 8px;
}